@import '~assets/scss/_config';
.main{
    display: flex;
    width: 100%;
    align-items: center;
    
    &-title{
        display: block;
        text-align: center;
        color: color(grey);
        margin:$gutter 0 !important;
        span{
            border-bottom: 2px solid color(orange);
        }
    }
}
.form{
    max-width: $small;
    @include box_shadow(2);
    border-top: 1px solid color(grey);
    border-bottom: 2px solid color(grey);
    &-group{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: $gutter;
        background: color(black);
    }
    label, input{
        margin: $gutter*0.7 auto !important;
        width: 65%;
        font-family: $font-text;
        font-size: $gutter;
    }
    label{
        text-align: center;
        color: color(grey);
    }
    input{
        border-radius: 2px;
        background: color(background);
        color: color(white);
        border: 1px solid color(grey);
        padding: $gutter * 0.3;
    }
    input:focus{
        outline-color:color(orange);
    }
    &-answer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: color(orange);
        color: color(white);
        padding: $gutter*0.5;
        font-family: $font-text;
        width: 100%;
        border:0;
        margin: 0 auto !important;
    }
    .answer{
        color: color(green);
    }
}