<h3 class=" main-title">
    <span>Calculadora</span>
</h3>
<main class="main">
    <div class="form">
      <div class="form-group">
        <label for="precioDolares">Precio en dolares $:</label>
        <input  id="precioDolares" [(ngModel)]="precioDolares">
        <label for="precioDolarToday">Precio DolarToday en Bsf:</label>
        <input  id="precioDolarToday" [(ngModel)]="precioDolarToday">
        <label for="prime">Costo de prime:</label>
        <input  id="prime" [(ngModel)]="prime">
        <label for="porcentaje">Porcentaje de ganancia:</label>
        <input  id="porcentaje" [(ngModel)]="porcentaje">
        <label for="envio">Costo de envio en Bsf:</label>
        <input  id="envio" [(ngModel)]="envio">
        <div class="earn-price">
          <button md-button class="btn-price btn-float-orange" (click)="setOption()">Por precio</button>
        </div>
        <div class="earn-for-price" *ngIf="option">
          <label for="monto">Ganancia por monto:</label>
          <input  id="monto" [(ngModel)]="monto">
          <span >Ganancia: <span class="earn"> {{precioDolares | calculatorEarnForPrice: [precioDolarToday, prime,monto, envio, porcentaje]}}</span></span>
        </div>
      </div>
      
      <div class="form-answer">
        <span>Precio de venta: <span class="price">{{precioDolares | calculatorPrice: [precioDolarToday, prime, porcentaje, envio]}}</span></span> <span>Ganancia: <span class="earn"> {{precioDolares | calculatorEarn: [precioDolarToday, prime, porcentaje, envio]}}</span></span>
      </div>
    </div>
</main>
