@import '~assets/scss/_config';
.main{
    @include card;
    max-width: $medium;
    &-title{
        display: flex;
        justify-content: center;
        align-items: center;
        background: color(orange);
        color: color(white);
        height: $gutter *3;
        margin-top:$gutter !important;
    }
}
.form{
    &-group{
        @include card-content;
        justify-content: center;
        align-items: center;
    }
    label, input, .earn-price{
        margin: $gutter*0.7 0 !important;
        width: 55%;
        display: block;
        @include desde($medium){
            width: 35%;
        }
    }
    .btn-price{
        color:color(white);
    }
    .earn-price, .earn-for-price{
        width: 55%;
        @include desde($medium){
            width: 70%;
        }
    }
    .earn-for-price{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        color: color(grey);
        label, input{
            width: 100%;
            @include desde($medium){
            width: 50%;
            }
        }
    }
    label{
        text-align: left;
        color: color(grey);
    }

    input:focus{
        outline-color:color(orange);
    }
    &-answer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: color(white);
        background: color(black);
        padding: $gutter;
        font-family: $font-text;
        width: 100%;
        border:0;
        margin: 0 auto !important;
    }
    .price, .earn{
            padding: $gutter * 0.2;
            border-radius: 2px;
        }
        .price{
            background: color(orange);
        }
        .earn{
            background: color(green);
            color:color(white);
        }
    .answer{
        color: color(green);
    }
}