@import '~assets/scss/_config';
.inventory{
    @include card-content;
    &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .orders{
            background: color(blueGradient2);
            color:white;
        }
        .filter{
            border-radius: 9px;
            background: color(background);
        }
    }
    &-header,&-table, .table-container , .table-rwd{
        width: 100%;
    }
    &-table__info{
        color: color(white);
        background: color(black);
        margin-top:$gutter*1.5 !important;
        display: flex;
        .dolar, .shipments{
            padding: $gutter*0.7;
            display: flex;
            align-items: center;
            width: 50%;
        }
        .dolar{
            justify-content: flex-end;
        }
    }

}