<div class="inventory">
    <div class="inventory-header">
      <button md-button class="orders btn-blue">Pedidos</button>
      <input type="search" class="filter">
    </div>
    <div class="inventory-table">
      <div class="inventory-table__info">
        <div class="shipments">Envios: 20000</div>
        <div class="dolar">Dolar: 5800 <md-icon>more_vert</md-icon></div>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Existencia</th>
          <th>Precio Bsf</th>
          <th>Precio Dolar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" routerLink="producto/{{product.id}}">
          <td data-title="Código">#{{product.id}}</td>
          <td data-title="Nombre">{{product.title}}</td>
          <td data-title="Existencia">{{product.existence}}</td>
          <td data-title="Precio Bsf">{{product.priceBsf}}</td>
          <td data-title="Precio $">{{product.priceDolar}}</td>
        </tr>
      </tbody>
    </table>
    <div class="add-button">
      <button md-icon-button class=" btn-float-blue" routerLink="/"><md-icon>add</md-icon></button>
    </div>
</div>
