@import '~assets/scss/_config';
.inventory{
    @include card-content;

    &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .filter{
            border-radius: $gutter;
            height: $gutter * 1.5;
            width: 45%;
            @include desde($medium){
                width: 25%;
            }
        }
    }
    table{
        margin-bottom:$gutter *3 !important; 
    }
    table tbody tr:hover > td:first-child{
        background: color(blueGradient2);
    }
    &-header,&-table{
        width: 100%;
    }
    &-table__info{
        color: color(white);
        background: color(black);
        margin-top:$gutter*1.5 !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .dolar, .shipments, .prime, .percentage{
            padding: $gutter*0.7;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .dolar{
            justify-content: flex-end;
        }
    }

}

    .container-button__add{
        position:fixed;
        right: 0;
        top: 55%;
        z-index: 100;
    }
