<h3 class=" main-title">
    <span>Producto</span>
</h3>
<main class="main">
    <div class="product">
      <div class="back">
        <button md-mini-fab class="back-button btn-float" routerLink="/"><md-icon>arrow_back</md-icon></button>
      </div>
      <div class="product-info">
        <div class="product-info__img">
          <div class="img"></div>
        </div>
        <h4 class="product-info__title">{{product.title}}</h4>
      </div>
      <div class="product-description">
        {{product.description}}
      </div>
      <div class="product-option">
        <button md-button class="btn-green">Vender</button>
        <button md-button class="btn-blue">Hacer pedidos</button>
        <button md-button class="btn-red">Eliminar</button>
      </div>
    </div>
</main>
