@import '~assets/scss/_config';
.main{
    @include card;
    max-width: $medium;
    &-title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: $gutter * 3;
        background: color(green);
        color: color(white);
        margin-top:$gutter !important;
    }
    .product{
        @include card-content;
        .back{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: $gutter !important;
        }
        &-info{
            width: 100%;
            color:color(white);
            display: flex;
            flex-wrap: wrap;
            margin-bottom: $gutter*2 !important;
            &__img{
                width: 100%;
                display: flex;
                justify-content: center;
                .img{
                    width: 100px;
                    height: 100px;
                    background: black;
                    @include desde($small){
                        width: 200px;
                        height: 200px;
                    }
                    @include desde($medium){
                        width: 300px;
                        height: 300px;
                    }
                }
            }
            &__title{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: $gutter !important;
            }
        }
        &-description{
            display: flex;
            justify-content: center;
            text-align: justify;
            margin-bottom: $gutter*5 !important;
            color: color(gray);
        }
        &-option{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
    }
}