@import '~assets/scss/_config';

.nav-bar{
    width: 100%;
    height: $gutter * 3;
    padding: $gutter;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: color(black);
    position: fixed;
    z-index: 1000;
    @include box_shadow(2);
    &-branding{
        font-family: $font-branding;
        font-size: $gutter *1.2;
        color: color(white);
        @include desde($medium){
            font-size: $gutter *1.5;
        }
    }
}
.btn-menu{
    color: color(white);
    border: 0.5px solid color(grey);
}
