/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~assets/scss/_config';

html{
    box-sizing: border-box;
    font-size: $font-size;
    font-family: $font-text, sans-serifs;
    -ms-text-size-ajust:100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    overflow-x: hidden; 
    background:color(background);
    
}

*,*::after, *::before{
    box-sizing: inherit;
    margin:0 !important;
    padding: 0;
}

a{ 
    color:color(links);
    text-decoration: none;
}

a:hover{
    color:color(hover);
}
h1, h2 , h3, h4, h5, h6{
	text-transform:uppercase;
	line-height: 1.3em;
}
h1{font-size: $h1-size;}

h2{font-size: $h2-size;}

h3{font-size: $h3-size;}

img, audio, canvas, iframe, picture, progress, svg{
    display: inline-block;
    width: 100%;
    max-width:100%;
    vertical-align: baseline;
    height: auto;
}

ul{list-style: none;}

li{
    margin-left:1em;
    list-style-type: inherit;
    list-style-position: inside;
}

label, input, textarea, article, details, figcaption, figure, footer, header, main, menu, nav, section, summary{
	display:block;
    font-family: $font-text;
    font-size: $gutter;
}

input{
    border-radius: 2px;
    background: color(background);
    color: color(white);
    border: 0.3px solid color(grey);
    padding: $gutter * 0.3;
}

b, strong { font-weight: bold;}

table{ border-collapse: collapse; }

@media only screen and (max-width: 632px) {
	
	 .cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
	 * html .cf { zoom: 1; }
	 *:first-child+html .cf { zoom: 1; }
	
	 table { width: 100%; border-collapse: collapse; border-spacing: 0; }
 
	 th,
	 td { margin: 0; vertical-align: top; }
	 th { text-align: left; }
	
	 table { display: block; position: relative; width: 100% !important; }
	 thead { display: block; float: left; }
	 tbody { display: block; width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
	 thead tr { display: block; }
	 th { display: block; text-align: right; }
	 tbody tr { display: inline-block; vertical-align: top; }
	 td { display: block; min-height: 1.25em; text-align: left; }
 
 
	/* sort out borders */
 
	 th { border-bottom: 0; border-left: 0; }
	 td { border-left: 0; border-right: 0; border-bottom: 0; }
	 tbody tr { border-left: 1px solid #babcbf; }
}