@import '~assets/scss/_config';

.main{
    &-title{
        display: block;
        text-align: center;
        color: color(grey);
        margin:$gutter 0 !important;
        span{
            border-bottom: 2px solid color(blueGradient2);
        }
    }
}