@import '~assets/scss/_config';
.main{
    @include card;
    &-title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: $gutter*3;
        color: color(white);
        background: color(blueGradient2);
        margin-top:$gutter !important;
    }
}